// Inside /base/_grid.scss

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

$gutter: 30px;

.container {
  margin: 0 auto;
  padding: 0 ($gutter / 2);

  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.row {
  margin-left: -($gutter / 2);
  margin-right: -($gutter / 2);

  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

$column-number: 12;
$col-slug: col !default;

[class^='col'] {
  position: relative;
  min-height: 1px;
  padding-left: ($gutter / 2);
  padding-right:($gutter / 2);
  width: auto;
}

$break-points: 576px 768px 992px 1200px 1440px;
$container-widths: 540px 720px 960px 1140px 1380px;

@media (min-width: 576px) {
  @for $i from 1 through $column-number{
    .#{$col-slug}-xs-#{$i}{
      float: left;
      width: percentage($i/$column-number);
    }
  }
}

@each $bp in $break-points {
  @media (min-width: $bp){
    .container { width: nth($container-widths, index($break-points, $bp)); }
  }
}
